<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://java.sun.com/xml/ns/javaee" 
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
id="WebApp_ID" version="2.5"
>

	<!-- needed for ContextLoaderListener 
	컨텍스트 로드 리스너로 등록했기때문에 톰켓이 시작되면 1컨테이너를 올린다-->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:/spring/context-*.xml</param-value>
	</context-param>
	
</web-app>